Repository samply/blaze: changes, and which Codecov flags are due for each by the changed paths.
All: cql, db, interaction

Add Codecov Badge
  README.md
Due: none

Improve Code Coverage
  modules/db/deps.edn
Due: none

Fix Validation of base64Binary Data
  Makefile
  README.md
  docker-compose.yml
  modules/fhir-structure/src/blaze/fhir/spec/impl.clj
  modules/fhir-structure/test/blaze/fhir/spec_test.clj
  perf-test/gatling/pom.xml
  pom.xml
  src/blaze/system.clj
Due: none

Fix Issue Parsing of Large CQL Queries Never Finishes
  Makefile
  README.md
  docker-compose.yml
  modules/cql/deps.edn
  modules/cql/resources/blaze/fhir-modelinfo-4.0.0.xml
  modules/cql/test/blaze/cql_translator_test.clj
  modules/db-tx-log-kafka/deps.edn
  modules/fhir-client/deps.edn
  modules/fhir-path/deps.edn
  modules/fhir-structure/deps.edn
  modules/openid-auth/deps.edn
  modules/operation-measure-evaluate-measure/src/blaze/fhir/operation/evaluate_measure/measure.clj
  modules/structure-definition/deps.edn
  perf-test/gatling/pom.xml
  pom.xml
  src/blaze/system.clj
Due: none

Documentation
  docs/README.md
  docs/conformance.md
  docs/cql-queries.md
  docs/database-design.md
  docs/deployment/README.md
  docs/deployment/docker-deployment.md
  docs/deployment/environment-variables.md
  docs/deployment/manual-deployment.md
  docs/deployment/quick-start.md
  docs/implementation.md
  docs/implementation/database.md
  docs/importing-data.md
  docs/performance.md
  docs/tooling.md
  modules/db/src/blaze/db/impl/index/resource_as_of.clj
  modules/db/src/blaze/db/node.clj
  modules/db/src/blaze/db/node/resource_indexer.clj
  modules/db/test/blaze/db/node/resource_indexer_spec.clj
Due: db

New Performance Run with 0.9.0-alpha.21
  docs/performance.md
Due: none

FHIR Data Model
  docs/implementation/fhir-data-model.md
  modules/db-resource-store/deps.edn
  modules/db-resource-store/test/blaze/db/resource_store/cbor_test.clj
  modules/fhir-client/src/blaze/fhir_client.clj
  modules/fhir-structure/deps.edn
  modules/fhir-structure/src/blaze/fhir/spec.clj
  modules/fhir-structure/src/blaze/fhir/spec/type.clj
  modules/fhir-structure/src/blaze/fhir/spec_spec.clj
  modules/fhir-structure/test/blaze/fhir/spec/type_test.clj
Due: none

Improve Performance of Paging of Search Type
  Makefile
  README.md
  docker-compose.yml
  docs/performance.md
  modules/db-protocols/src/blaze/db/impl/protocols.clj
  modules/db/src/blaze/db/api.clj
  modules/db/src/blaze/db/api_spec.clj
  modules/db/src/blaze/db/impl/batch_db.clj
  modules/db/src/blaze/db/impl/codec.clj
  modules/db/src/blaze/db/impl/index.clj
  modules/db/src/blaze/db/impl/index/resource_handle.clj
  modules/db/src/blaze/db/impl/search_param.clj
  modules/db/src/blaze/db/impl/search_param/list.clj
  modules/db/test/blaze/db/api_test.clj
  modules/db/test/blaze/db/impl/codec_spec.clj
  modules/db/test/blaze/db/impl/codec_test.clj
  modules/db/test/blaze/db/impl/index/resource_as_of_spec.clj
  modules/db/test/blaze/db/impl/index/resource_handle_spec.clj
  modules/db/test/blaze/db/impl/index/system_as_of_spec.clj
  modules/db/test/blaze/db/impl/index/type_as_of_spec.clj
  modules/db/test/blaze/db/impl/index_spec.clj
  modules/db/test/blaze/db/impl/search_param_spec.clj
  modules/db/test/blaze/db/impl/search_param_test.clj
  modules/interaction/src/blaze/interaction/search_type.clj
  modules/interaction/test/blaze/interaction/search_type_test.clj
  perf-test/gatling/pom.xml
  pom.xml
  src/blaze/system.clj
Due: db, interaction

Improve Error Handling on Unknown Search Parameters
  docs/performance.md
  modules/db-protocols/src/blaze/db/impl/protocols.clj
  modules/db/src/blaze/db/api.clj
  modules/db/src/blaze/db/api_spec.clj
  modules/db/src/blaze/db/impl/batch_db.clj
  modules/db/src/blaze/db/impl/db.clj
  modules/db/src/blaze/db/impl/index.clj
  modules/db/src/blaze/db/impl/search_param.clj
  modules/db/src/blaze/db/impl/search_param/list.clj
  modules/db/src/blaze/db/node.clj
  modules/db/test/blaze/db/impl/index_spec.clj
  modules/interaction/src/blaze/interaction/history/type.clj
  modules/interaction/src/blaze/interaction/search/nav.clj
  modules/interaction/src/blaze/interaction/search/nav_spec.clj
  modules/interaction/src/blaze/interaction/search/params.clj
  modules/interaction/src/blaze/interaction/search_compartment.clj
  modules/interaction/src/blaze/interaction/search_type.clj
  modules/interaction/test/blaze/interaction/search_compartment_test.clj
  modules/interaction/test/blaze/interaction/search_type_test.clj
Due: db, interaction

Terminate Variable-Length Index Components
  modules/async/test/blaze/async/comp_test.clj
  modules/db-tx-log/src/blaze/db/tx_log.clj
  modules/db-tx-log/src/blaze/db/tx_log/spec.clj
  modules/db-tx-log/test/blaze/db/tx_log/spec_test.clj
  modules/db-tx-log/test/blaze/db/tx_log_test.clj
  modules/db/.clj-kondo/config.edn
  modules/db/deps.edn
  modules/db/src/blaze/db/impl/codec.clj
  modules/db/src/blaze/db/impl/index/resource_as_of.clj
  modules/db/test/blaze/db/api_test.clj
  modules/db/test/blaze/db/impl/codec_spec.clj
  modules/db/test/blaze/db/impl/codec_test.clj
Due: db

Go Back to String BodySubscriber
  modules/fhir-client/src/blaze/fhir_client/impl.clj
Due: none

Add Resource Id to all generated Bundles
  Makefile
  README.md
  docker-compose.yml
  docs/performance.md
  modules/interaction/src/blaze/interaction/history/instance.clj
  modules/interaction/src/blaze/interaction/history/system.clj
  modules/interaction/src/blaze/interaction/history/type.clj
  modules/interaction/src/blaze/interaction/search_compartment.clj
  modules/interaction/src/blaze/interaction/search_type.clj
  modules/interaction/src/blaze/interaction/transaction.clj
  modules/interaction/test/blaze/interaction/history/instance_test.clj
  modules/interaction/test/blaze/interaction/history/system_test.clj
  modules/interaction/test/blaze/interaction/history/type_test.clj
  modules/interaction/test/blaze/interaction/search_compartment_test.clj
  modules/interaction/test/blaze/interaction/search_type_test.clj
  modules/interaction/test/blaze/interaction/transaction_test.clj
  perf-test/gatling/pom.xml
  pom.xml
  src/blaze/system.clj
Due: interaction

Fix Use of Heap Buffer
  Makefile
  README.md
  docker-compose.yml
  modules/db/src/blaze/db/impl/codec.clj
  modules/db/src/blaze/db/impl/index/resource_as_of.clj
  perf-test/gatling/pom.xml
  pom.xml
  src/blaze/system.clj
Due: db

Fix Parsing of Units from Lab Domain
  modules/cql/Makefile
  modules/cql/deps.edn
  modules/cql/src/blaze/elm/quantity.clj
  modules/cql/src/blaze/elm/spec.clj
  modules/cql/test/blaze/cql_test.clj
  modules/cql/test/blaze/elm/compiler_test.clj
  modules/cql/test/blaze/elm/fhir-ucum-units.tsv
  modules/cql/test/blaze/elm/quantity_spec.clj
  modules/cql/test/blaze/elm/quantity_test.clj
  modules/operation-measure-evaluate-measure/Makefile
Due: cql

Update Dev Version
  Makefile
  README.md
  docker-compose.yml
  perf-test/gatling/pom.xml
  pom.xml
  src/blaze/system.clj
Due: none

Set Locale to English to Prevent a CQL Parsing Bug
  modules/cql/src/blaze/cql_translator.clj
Due: cql

Coverage Reports wait for all Tests
  .github/workflows/build.yml
  codecov.yml
  modules/db/src/blaze/db/node.clj
  modules/db/test/blaze/db/api_test.clj
  modules/db/test/blaze/db/node_test.clj
Due: db

Cleanup and Dependency Updates
  .github/workflows/build.yml
  Dockerfile
  Makefile
  README.md
  deps.edn
  docker-compose.yml
  docs/performance.md
  modules/async/src/blaze/async/flow.clj
  modules/async/src/blaze/async/flow_spec.clj
  modules/async/test/blaze/async/flow_test.clj
  modules/cql/deps.edn
  modules/db-resource-store-cassandra/deps.edn
  modules/db-resource-store/deps.edn
  modules/db/deps.edn
  modules/db/src/blaze/db/tx_log/local.clj
  modules/db/test-perf/blaze/db/api_test_perf.clj
  modules/db/test/blaze/db/api_test.clj
  modules/fhir-client/src/blaze/fhir_client.clj
  modules/fhir-client/src/blaze/fhir_client/impl.clj
  modules/fhir-structure/deps.edn
  modules/module-base/deps.edn
  modules/openid-auth/deps.edn
  modules/rest-api/Makefile
  modules/rest-api/deps.edn
  modules/rest-util/deps.edn
  modules/rocksdb/deps.edn
  perf-test/gatling/pom.xml
  pom.xml
  src/blaze/system.clj
Due: db

Implement System Search Functionality
  modules/fhir-client/src/blaze/fhir_client.clj
  modules/fhir-client/src/blaze/fhir_client/impl.clj
  modules/fhir-client/test/blaze/fhir_client_test.clj
  modules/interaction/src/blaze/interaction/history/system.clj
  modules/interaction/src/blaze/interaction/history/util.clj
  modules/interaction/src/blaze/interaction/search/params.clj
  modules/interaction/src/blaze/interaction/search/util.clj
  modules/interaction/src/blaze/interaction/search_compartment.clj
  modules/interaction/src/blaze/interaction/search_system.clj
  modules/interaction/test/blaze/interaction/history/util_spec.clj
  modules/interaction/test/blaze/interaction/history/util_test.clj
  modules/interaction/test/blaze/interaction/search_system_spec.clj
  modules/interaction/test/blaze/interaction/search_system_test.clj
  modules/rest-api/src/blaze/rest_api.clj
  modules/rest-api/src/blaze/rest_api/spec.clj
  modules/rest-api/test/blaze/rest_api_test.clj
  modules/rest-util/src/blaze/handler/fhir/util.clj
  modules/rest-util/src/blaze/handler/fhir/util_spec.clj
  modules/rest-util/test/blaze/handler/fhir/util_test.clj
  resources/blaze.edn
Due: interaction

Bump Dev Version to v0.9.0-alpha.27
  Makefile
  README.md
  docker-compose.yml
  perf-test/gatling/pom.xml
  pom.xml
  src/blaze/system.clj
Due: none

Deactivate RocksDB Statistics Logging
  modules/rocksdb/src/blaze/db/kv/rocksdb.clj
Due: none

Prepare v0.8.0 Release
  Makefile
  README.md
  docker-compose.yml
  docs/README.md
  docs/conformance.md
  docs/cql-queries.md
  docs/database-design.md
  docs/deployment/README.md
  docs/deployment/distributed.md
  docs/deployment/docker-deployment.md
  docs/deployment/environment-variables.md
  docs/deployment/manual-deployment.md
  docs/deployment/quick-start.md
  docs/implementation.md
  docs/implementation/README.md
  docs/tooling.md
  docs/tuning-guide.md
  perf-test/gatling/pom.xml
  pom.xml
  src/blaze/system.clj
Due: none

Fix Error Reporting on Invalid Cardinality
  modules/fhir-structure/src/blaze/fhir/spec.clj
  modules/fhir-structure/src/blaze/fhir/spec/impl.clj
  modules/fhir-structure/test/blaze/fhir/spec/impl_test.clj
  modules/fhir-structure/test/blaze/fhir/spec_test.clj
Due: none

Fix tag Generation
  .github/actions/run-blaze/index.js
Due: none

Fix tag Generation 2
  .github/actions/run-blaze/index.js
Due: none

Fix tag on master branch
  .github/actions/run-blaze/index.js
Due: none

Fix tag on master branch 2
  .github/actions/run-blaze/index.js
Due: none

Improve Documentation
  README.md
  docs/cql-queries.md
  docs/cql-queries/libraries-new.png
  docs/cql-queries/library-cql.png
  docs/cql-queries/library-title-edit.png
  docs/cql-queries/library-url-edit.png
  docs/cql-queries/measure-generate-report.png
  docs/cql-queries/measure-initial-population-criteria.png
  docs/cql-queries/measure-initial-population.png
  docs/cql-queries/measure-library-edit.png
  docs/cql-queries/measure-report-1.png
  docs/cql-queries/measure-report-2.png
  docs/cql-queries/measure-report-list.png
  docs/cql-queries/measure-url-edit.png
  docs/cql-queries/measures.png
  docs/cql-queries/settings-server.png
  docs/deployment/docker-deployment.md
  docs/implementation/database.md
  docs/implementation/fhir-data-model.md
Due: none

Add Touchstone Results
  README.md
  docs/conformance.md
Due: none

Implement CanConvertQuantity
  modules/cql/src/blaze/elm/compiler.clj
  modules/cql/src/blaze/elm/nil.clj
  modules/cql/src/blaze/elm/protocols.clj
  modules/cql/src/blaze/elm/quantity.clj
  modules/cql/test/blaze/elm/compiler_test.clj
  modules/cql/test/blaze/elm/literal.clj
  modules/cql/test/data_readers.clj
  modules/operation-measure-evaluate-measure/test/blaze/fhir/operation/evaluate_measure/measure_test.clj
  modules/operation-measure-evaluate-measure/test/blaze/fhir/operation/evaluate_measure/q33-incompatible-quantities-data.json
  modules/operation-measure-evaluate-measure/test/blaze/fhir/operation/evaluate_measure/q33-incompatible-quantities-query.cql
Due: cql

Bump Dev Version to v0.9.0-alpha.28
  Makefile
  README.md
  docker-compose.yml
  docs/cql-queries.md
  docs/deployment/docker-deployment.md
  docs/deployment/manual-deployment.md
  perf-test/gatling/pom.xml
  pom.xml
  src/blaze/system.clj
Due: none

Bump Dev Version to v0.9.0-alpha.29
  Makefile
  README.md
  docker-compose.yml
  docs/cql-queries.md
  docs/deployment/docker-deployment.md
  docs/deployment/manual-deployment.md
  perf-test/gatling/pom.xml
  pom.xml
  src/blaze/system.clj
Due: none

Add FHIR Client Variant with Basic Authentication
  modules/fhir-client/src/blaze/fhir_client.clj
  modules/fhir-client/test/blaze/fhir_client_test.clj
Due: none

Fix Primitive Time Data Type Storage Format
  modules/db-resource-store/src/blaze/db/resource_store/kv.clj
  modules/db/src/blaze/db/node.clj
  modules/db/test/blaze/db/api_test.clj
  modules/fhir-structure/src/blaze/fhir/spec/impl.clj
  modules/fhir-structure/test/blaze/fhir/spec/impl_test.clj
  modules/fhir-structure/test/blaze/fhir/spec_test.clj
  modules/kv/src/blaze/db/kv.clj
Due: db

Bump Dev Version to v0.9.0-alpha.30
  Makefile
  README.md
  docker-compose.yml
  docs/cql-queries.md
  docs/deployment/docker-deployment.md
  docs/deployment/manual-deployment.md
  perf-test/gatling/pom.xml
  pom.xml
  src/blaze/system.clj
Due: none

Release v0.9.0
  Makefile
  README.md
  docker-compose.yml
  docs/cql-queries.md
  docs/deployment/docker-deployment.md
  docs/deployment/manual-deployment.md
  modules/rest-api/src/blaze/rest_api.clj
  perf-test/gatling/pom.xml
  pom.xml
  src/blaze/system.clj
Due: none

Fix Decreasing Code Coverage
  modules/db/test/blaze/db/api_test.clj
Due: none

Path conditions:
  cql: any of: modules/cql/src/
  db: any of: modules/db/src/
  interaction: any of: modules/interaction/src/
